#panel {
    width: 90%;
    max-width: 1200px;
    margin: auto;

    button {
        margin: 5px 20px;
        font-size: 18px;
        letter-spacing: 2px;
    }
}

#btns {
    text-align: center;

    button {
        width: 170px;
    }
}

#cars-wrapper,
#map,
#note {
    width: 100%;
    min-height: 60px;
    margin: 10px 0;
}

#map {
    padding: 20px;
}

#note {
    text-align: center;
    padding: 40px 0;
    font-size: 24px;
    color: #666;
    letter-spacing: 1px;
}

#cars-label {
    font-size: 24px;
    color: #aaa;
    letter-spacing: 5px;
}

#cars-wrapper {
    min-height: 80px;
}

#cars {
    .car {
        display: inline-block;
        padding: 10px;
        margin: 10px;
        position: relative;

        .fa-minus-circle {
            display: none;
            position: absolute;
            right: -5px;
            top: 4px;
            font-size: 22px;
            color: #ec5858;
            cursor: pointer;

            &:hover {
                color: #ff3333;
            }
        }

        .fa-truck {
            font-size: 80px;
        }

        .times {
            font-size: 30px;
            color: #333;
            position: relative;
            bottom: 17px;
            left: 5px;
        }

        .quantity {
            font-size: 40px;
            color: #333;
            position: relative;
            bottom: 13px;
            left: 7px;
        }

        .weight {
            position: absolute;
            top: 30px;
            left: 42px;
            color: white;
            font-size: 20px;
        }
    }

    &:hover {
        .fa-minus-circle {
            display: block;
        }
    }

}

.car-add {
    cursor: pointer;

    .fa-plus-circle {
        font-size: 60px;
        color: #999;
        cursor: pointer;

        &:hover {
            color: #333;
        }
    }
}

#ca1 {
    margin-right: 16px;
    margin-top: 11px;
    float: right;
}

#ca2 {
    display: inline-block;
}